version: 1
metadata:
    service: jms
    resource: Fleet
    operations:
        - create
        - read
        - update
        - delete
    sdkVersion: v65.110.0
    provenance: recorded
interactions:
    - request:
        method: POST
        host: javamanagement.us-ashburn-1.oci.oraclecloud.com
        path: /20210610/fleets
        headers:
            content-type:
                - application/json
            opc-retry-token:
                - <redacted>
        body: '{"compartmentId":"<ocid:1>","description":"OSOK recorded JMS fleet","displayName":"osok-replay-jms-fleet","freeformTags":{"osok-replay":"create"},"inventoryLog":{"logGroupId":"<ocid:2>","logId":"<ocid:3>"}}'
        encoding: json
      response:
        statusCode: 202
        headers:
            content-type:
                - application/octet-stream
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:4>
    - request:
        method: GET
        host: javamanagement.us-ashburn-1.oci.oraclecloud.com
        path: /20210610/workRequests/<ocid:4>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 200
        headers:
            content-type:
                - application/json
            etag:
                - eeea302af979a5e94d744945eea93c37f17817c284aa99ece4d7d14f0b624f93--gzip
            opc-request-id:
                - <redacted>
        body: '{"compartmentId":"<ocid:1>","completedTaskCount":0,"createdBy":{"displayName":"<redacted>","id":"<redacted>"},"id":"<ocid:4>","operationType":"CREATE_FLEET","percentComplete":0,"resources":[{"actionType":"RELATED","entityType":"user","entityUri":"https://cloud.oracle.com/identity/users/<ocid:5>","identifier":"<ocid:5>"},{"actionType":"RELATED","entityType":"tenancy","entityUri":"https://cloud.oracle.com/tenancy","identifier":"<ocid:6>"},{"actionType":"IN_PROGRESS","entityType":"fleet","entityUri":"/fleets/<ocid:7>","identifier":"<ocid:7>"}],"status":"ACCEPTED","timeAccepted":"2026-09-02T19:51:21.999Z","timeFinished":null,"timeLastUpdated":"2026-09-02T19:51:21.999Z","timeStarted":null,"totalTaskCount":1}'
        encoding: json
[...]
    - request:
        method: GET
        host: javamanagement.us-ashburn-1.oci.oraclecloud.com
        path: /20210610/fleets/<ocid:7>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 200
        headers:
            content-type:
                - application/json
            etag:
                - d7f3996005386c16dd0ff7ba899019bddb997809cd2c1268c49dc63dd7b924c3--gzip
            opc-request-id:
                - <redacted>
        body: '{"approximateApplicationCount":0,"approximateInstallationCount":0,"approximateJavaServerCount":0,"approximateJreCount":0,"approximateLibraryCount":0,"approximateLibraryVulnerabilityCount":0,"approximateManagedInstanceCount":0,"compartmentId":"<ocid:1>","definedTags":{"Oracle-Tags":{"CreatedBy":"<redacted>","CreatedOn":"2026-09-02T19:51:21.696Z"}},"description":"OSOK recorded JMS fleet","displayName":"osok-replay-jms-fleet","freeformTags":{"osok-replay":"create"},"id":"<ocid:7>","inventoryLog":{"logGroupId":"<ocid:2>","logId":"<ocid:3>"},"isAdvancedFeaturesEnabled":false,"isExportSettingEnabled":false,"lifecycleState":"ACTIVE","operationLog":null,"systemTags":{"orcl-cloud":{"free-tier-retained":"false"}},"timeCreated":"2026-09-02T19:51:21.999Z"}'
        encoding: json
[...]
    - request:
        method: PUT
        host: javamanagement.us-ashburn-1.oci.oraclecloud.com
        path: /20210610/fleets/<ocid:7>
        headers:
            content-type:
                - application/json
        body: '{"description":"OSOK recorded JMS fleet updated","freeformTags":{"osok-replay":"update"}}'
        encoding: json
      response:
        statusCode: 202
        headers:
            content-type:
                - application/octet-stream
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:8>
[...]
    - request:
        method: DELETE
        host: javamanagement.us-ashburn-1.oci.oraclecloud.com
        path: /20210610/fleets/<ocid:7>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 202
        headers:
            content-type:
                - application/octet-stream
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:9>
[...]
