apiVersion: v2
name: __OSOK_CHART_NAME__
description: Oracle OCI Service Operator controller for the __OSOK_GROUP__ service package
type: application
version: __OSOK_CHART_VERSION__
appVersion: "__OSOK_APP_VERSION__"
home: https://github.com/oracle/oci-service-operator
sources:
  - https://github.com/oracle/oci-service-operator
annotations:
  artifacthub.io/license: UPL-1.0
