apiVersion: v2
name: oci-service-operator-psql-chart
description: Oracle OCI Service Operator controller for OCI Database with PostgreSQL
type: application
version: __OSOK_CHART_VERSION__
appVersion: "__OSOK_APP_VERSION__"
home: https://github.com/oracle/oci-service-operator
sources:
  - https://github.com/oracle/oci-service-operator
annotations:
  artifacthub.io/license: UPL-1.0
