version: 1
metadata:
    service: devops
    resource: Repository
    operations:
        - create
        - read
        - update
        - delete
    sdkVersion: v65.110.0
    provenance: recorded
interactions:
    - request:
        method: POST
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/repositories
        headers:
            content-type:
                - application/json
            opc-retry-token:
                - <redacted>
        body: '{"defaultBranch":"main","description":"recorded create","freeformTags":{"osok-replay":"create"},"name":"osok-replay-repository-v1","projectId":"<ocid:1>","repositoryType":"HOSTED"}'
        encoding: json
      response:
        statusCode: 201
        headers:
            content-type:
                - application/json
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:2>
        body: '{"branchCount":0,"commitCount":0,"compartmentId":"<ocid:3>","defaultBranch":"refs/heads/main","definedTags":{"Oracle-Tags":{"CreatedBy":"<redacted>","CreatedOn":"2026-09-01T03:10:34.175Z"}},"description":"recorded create","disasterRecoveryDetails":null,"freeformTags":{"osok-replay":"create"},"httpUrl":"https://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","id":"<ocid:4>","lifecycleState":"CREATING","lifecyleDetails":"","mirrorRepositoryConfig":null,"name":"osok-replay-repository-v1","namespace":"iddevjmhjw0n","parentRepositoryId":"","projectId":"<ocid:1>","projectName":"osok-replay-repository-project-v1","repositoryType":"HOSTED","sizeInBytes":0,"sshUrl":"ssh://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","systemTags":{},"timeCreated":"2026-09-01T03:10:34.750Z","timeUpdated":"2026-09-01T03:10:34.750Z","triggerBuildEvents":["PUSH"]}'
        encoding: json
    - request:
        method: GET
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/workRequests/<ocid:2>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 200
        headers:
            content-type:
                - application/json
            opc-request-id:
                - <redacted>
        body: '{"compartmentId":"<ocid:3>","id":"<ocid:2>","operationType":"CREATE_REPOSITORY","percentComplete":0,"resources":[{"actionType":"IN_PROGRESS","entityType":"repository","entityUri":"/repositories/<ocid:4>","identifier":"<ocid:4>"}],"status":"ACCEPTED","timeAccepted":"2026-09-01T03:10:34.741Z","timeFinished":null,"timeStarted":null}'
        encoding: json
[...]
    - request:
        method: GET
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/repositories/<ocid:4>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 200
        headers:
            content-type:
                - application/json
            etag:
                - de5f3f2b2901b56ed706d44bfb4fd27366682927e9dcb0f4d8008e3d69b87331--gzip
            opc-request-id:
                - <redacted>
        body: '{"branchCount":0,"commitCount":0,"compartmentId":"<ocid:3>","defaultBranch":"refs/heads/main","definedTags":{"Oracle-Tags":{"CreatedBy":"<redacted>","CreatedOn":"2026-09-01T03:10:34.175Z"}},"description":"recorded create","disasterRecoveryDetails":null,"freeformTags":{"osok-replay":"create"},"httpUrl":"https://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","id":"<ocid:4>","lifecycleState":"ACTIVE","lifecyleDetails":"","mirrorRepositoryConfig":null,"name":"osok-replay-repository-v1","namespace":"iddevjmhjw0n","parentRepositoryId":"","projectId":"<ocid:1>","projectName":"osok-replay-repository-project-v1","repositoryType":"HOSTED","sizeInBytes":0,"sshUrl":"ssh://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","systemTags":{},"timeCreated":"2026-09-01T03:10:34.750Z","timeUpdated":"2026-09-01T03:10:34.750Z","triggerBuildEvents":["PUSH"]}'
        encoding: json
[...]
    - request:
        method: PUT
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/repositories/<ocid:4>
        headers:
            content-type:
                - application/json
        body: '{"defaultBranch":"main","description":"recorded update","freeformTags":{"osok-replay":"update"}}'
        encoding: json
      response:
        statusCode: 202
        headers:
            content-type:
                - application/json
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:5>
        body: '{"branchCount":0,"commitCount":0,"compartmentId":"<ocid:3>","defaultBranch":"refs/heads/main","definedTags":{"Oracle-Tags":{"CreatedBy":"<redacted>","CreatedOn":"2026-09-01T03:10:34.175Z"}},"description":"recorded update","disasterRecoveryDetails":null,"freeformTags":{"osok-replay":"update"},"httpUrl":"https://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","id":"<ocid:4>","lifecycleState":"ACTIVE","lifecyleDetails":"","mirrorRepositoryConfig":null,"name":"osok-replay-repository-v1","namespace":"iddevjmhjw0n","parentRepositoryId":"","projectId":"<ocid:1>","projectName":"osok-replay-repository-project-v1","repositoryType":"HOSTED","sizeInBytes":0,"sshUrl":"ssh://devops.scmservice.us-ashburn-1.oci.oraclecloud.com/namespaces/iddevjmhjw0n/projects/osok-replay-repository-project-v1/repositories/osok-replay-repository-v1","systemTags":{},"timeCreated":"2026-09-01T03:10:34.750Z","timeUpdated":"2026-09-01T03:10:56.704Z","triggerBuildEvents":["PUSH"]}'
        encoding: json
[...]
    - request:
        method: DELETE
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/repositories/<ocid:4>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 202
        headers:
            content-type:
                - application/json
            opc-request-id:
                - <redacted>
            opc-work-request-id:
                - <ocid:6>
        body: <binary payload>
        encoding: text
[...]
    - request:
        method: GET
        host: devops.us-ashburn-1.oci.oraclecloud.com
        path: /20210630/repositories/<ocid:4>
        headers:
            content-type:
                - application/json
      response:
        statusCode: 404
        headers:
            content-type:
                - application/json
            opc-request-id:
                - <redacted>
        body: '{"code":"NotAuthorizedOrNotFound","message":"Authorization failed or requested resource not found."}'
        encoding: json
